/* your styles go here */

.tables .card-body {
	padding: 0 !important
}

.tables .table-img {
	width: 100px;
    text-align: center;
}


.show-details-item {
	border-bottom: 1px solid #eee
}

.select2 .selection {
	display: block;
}
