body {
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
	position: relative;
	margin: 0;
	background-color: #EEE
}

body[class="rtl"] {
	font-family: 'Tajawal', sans-serif;
}


/* Navbar */

nav {
	border-bottom: 1px solid #FDDA02
}

nav .nav-item .nav-link {
	color: #000 !important;
	font-size: 1.1rem
}

nav .nav-item .nav-link:hover,
nav .nav-item .nav-link:active,
nav .nav-item .nav-link:focus {
	color: #00963F !important
}

.rtl .navbar-nav .nav-item + .nav-item, [dir="rtl"] .navbar-nav .nav-item + .nav-item {
	margin-right: auto;
}

.logo {
	max-width: 70px
}

.navbar-profile {
	width: 25px
}

.logout-btn,
.logout-btn:active,
.logout-btn:focus {
	background: none;
    border: none;
}



/* Carousel */
.carousel-inner .carousel-item img {
	height: 500px
}

.carousel-indicators li {
	width: 15px !important;
	height: 15px !important;
	border-radius: 50%;
	background-color: #00963F;
	border: 1px solid #FFF;
}

.carousel-indicators li.active {
	background-color: #FFF;
	border: 1px solid #00963F;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
	width: 40px;
	height: 40px;
}

.carousel .carousel-caption {
	background-color: rgba(0, 0, 0, .8);
    margin-bottom: 12%
}


/* Login */
.login-form {
	height: 100vh
}

.login-form .form-check-input {
	margin-right: auto;
}

/* Services */

.service-card {
}

.service-card img {
	height: 250px;
    width: 100%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.service-card .service-title {
    width: 100%;
    height: 50px;
    background-color: #00963F;
    margin-bottom: 0;
    border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-top: 10px;
}

.our-services .col-12:nth-child(even) .service-card .service-title {
	/*background-color: #FDDA02;*/
	background-color: #dac01c;
}

.service-card .service-title h5 {
	text-align: center;
}
.service-card .service-title a {
	color: #FFF;
	font-size: 1.35rem;
	transition: all .3s ease;
	display: block;
	text-decoration: none;
}

.service-card .service-title a:hover {
	-webkit-transform: translate3d(5px,0,0);
    transform: translate3d(5px,0,0);
}

.service-card .service-title p {
	color: #FFF;
	font-size: .8rem
}

/* Blogs */

.blogs .card {
	border-radius: 10px
}

.blogs .card img {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	height: 240px;
}

.blogs .card .card-title {
	height: 60px;
}

.blogs .card .card-title a {
	color: #000;
	font-size: 1.3rem;
	text-decoration: none;
}

.blogs .card .card-title a:hover {
	color: #00963F !important
}

.blogs .card .card-body {
	height: 120px;
}

.blogs .card .card-text {
	font-size: .8rem
}

body[class="rtl"] .blogs .card .card-text {
	font-size: .9rem
}


/* Contact Us */

.contact-us .list-group li a,
.contact-us .list-group li i {
	color: #00963F
}

.mapouter {
	display: contents;
}

.mapouter, .mapouter iframe {
	width: 500px;
	height: 350px;
}


/* Footer */
footer {
	background-color: #FFF;
	padding: 15px;
}

footer p {
	font-size: .9rem
}


/* Framework */

.gr-color {
	color: #00963F;
}

.bgr-color {
	background-color: #00963F;
}

.ye-color {
	color: #FDDA02;
}

.bye-color {
	background-color: #FDDA02
}

.fb-400 {
	font-weight: 400 !important;
}

.fb-500 {
	font-weight: 500 !important;
}

.fb-700 {
	font-weight: 700 !important;
}

.fb-800 {
	font-weight: 800 !important;
}

.fb-900 {
	font-weight: 900 !important;
}


/* Responsive */

@media (min-width: 320px) and (max-width: 480px) {

}


@media (min-width: 481px) and (max-width: 767px) {
	
}

/* ipad */

@media (min-width: 768px) and (max-width: 1024px) {

	
}


@media (min-width: 961px) and (max-width: 1024px) {

}


@media (min-width: 1025px) and (max-width: 1280px) {

}


@media (max-width: 767px) {

	h4, .h4
	{
		font-size: 1rem
	}

	h6, .h6
	{
		font-size: 0.9rem
	}

	.carousel-inner .carousel-item img {
		height: 200px
	}

	.carousel .carousel-caption {
	    margin-bottom: 5%
	}

	.carousel .carousel-caption h4 {
		font-size: 1rem
	}

	.carousel .carousel-caption p {
		font-size: .7rem
	}

	.mapouter, .mapouter iframe {
		width: 250px;
	}

}
